/*
  Primary:        #ff4c00[ff]
  Text:           #ffffff[ff]
  Primary-Dark:   #a83200[ff]
  Primary-Shadow: #521900[ff]
  Background:     #140600[ff]

  finding background colour
    background-color: #000 (on body)
    background-color: #ff4c0014 (overlay)
 */
body {
  margin: 0;
  padding: 0;
  background-color: #140600;
  color: #fff;
}

main {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;

}

[upload] {
  color: transparent;
  -webkit-user-select: none;
}
[upload]::-webkit-file-upload-button {
  display: none;
}
[upload]:before {
  content: 'Upload Project';
  color: #fff;
  display: inline-block;
  background: linear-gradient(180deg, #ff4c00 0%, #a83200 100%);
  border-bottom: 2px solid #521900;
  border-radius: 0.5em;
  padding: 1em 2em;
  cursor: pointer;
  font-weight: bold;
  font-size: 1em;
}